{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "printWidth": 70,
    "overrides": [
      {
        "files": "*.tsx",
        "options": {
          "parser": "babel"
        }
      },
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ],
    "rules": {
      "function-parameter": "multiline"
    }
  }
  