<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocGPT</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="main-flex-item-0" id="menu">
        <div class="flex-item-0-item-0">
          <div>
            <a href="">
              <svg
                width="30"
                height="30"
                viewBox="0 0 59 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / circle-plus">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M34.5 44.0417C21.0841 44.0417 10.2083 34.3971 10.2083 22.5C10.2083 10.6029 21.0841 0.958344 34.5 0.958344C47.9159 0.958344 58.7916 10.6029 58.7916 22.5C58.7916 34.3971 47.9159 44.0417 34.5 44.0417ZM34.5 40.125C45.4766 40.125 54.375 32.234 54.375 22.5C54.375 12.766 45.4766 4.87501 34.5 4.87501C23.5233 4.87501 14.625 12.766 14.625 22.5C14.625 32.234 23.5233 40.125 34.5 40.125ZM45.5416 20.5417H36.7083V12.7083H32.2916V20.5417H23.4583V24.4583H32.2916V32.2917H36.7083V24.4583H45.5416V20.5417Z"
                    fill="white"
                  />
                </g>
              </svg>
              <span> New Chat </span>
            </a>
          </div>
          <button onclick="showAndCloseSideBar()">╳</button>
        </div>
        <div class="flex-item-0-item-1">
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
          <div>
            <svg
              width="22"
              height="22"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.49998 30.8894L17.1229 25.5H28.3333C29.8981 25.5 31.1667 24.2315 31.1667 22.6667V5.66667C31.1667 4.10186 29.8981 2.83334 28.3333 2.83334L5.66665 2.83334C4.10184 2.83334 2.83331 4.10186 2.83331 5.66667L2.83331 22.6667C2.83331 24.2315 4.10184 25.5 5.66665 25.5H8.49998V30.8894ZM16.3104 22.6667L11.3333 25.7773V22.6667H5.66665V5.66667L28.3333 5.66667V22.6667H16.3104Z"
                fill="black"
              />
            </svg>

            <a href="">1. Software Development</a>
          </div>
        </div>
        <div class="flex-item-0-item-2">
          <h3>
            <svg
              width="34"
              height="34"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="24 / basic / user">
                <path
                  id="icon"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25 47.9167C12.3435 47.9167 2.08331 37.6565 2.08331 25C2.08331 12.3435 12.3435 2.08334 25 2.08334C37.6565 2.08334 47.9166 12.3435 47.9166 25C47.9166 37.6565 37.6565 47.9167 25 47.9167ZM40.4156 35.6764C42.5179 32.6465 43.75 28.9671 43.75 25C43.75 14.6447 35.3553 6.25001 25 6.25001C14.6446 6.25001 6.24998 14.6447 6.24998 25C6.24998 28.9671 7.48203 32.6465 9.58436 35.6764C11.9285 32.5801 17.4359 31.2507 24.9942 31.25C20.3321 31.2473 16.6666 27.9708 16.6666 20.8333C16.6666 16.1578 19.9564 12.5 25 12.5C30.0296 12.5 33.3333 16.5033 33.3333 21.25C33.3333 28.0825 29.621 31.25 25 31.25C32.5612 31.25 38.0709 32.5793 40.4156 35.6764ZM37.4264 39.0412C36.8166 36.8487 32.4362 35.4167 25 35.4167C17.5638 35.4167 13.1833 36.8487 12.5736 39.0412C15.8819 41.9712 20.2332 43.75 25 43.75C29.7668 43.75 34.1181 41.9712 37.4264 39.0412ZM20.8333 20.8333C20.8333 25.561 22.5379 27.0833 25 27.0833C27.4535 27.0833 29.1666 25.6217 29.1666 21.25C29.1666 18.6467 27.5326 16.6667 25 16.6667C22.3619 16.6667 20.8333 18.3663 20.8333 20.8333Z"
                  fill="black"
                />
              </g>
            </svg>
            <span onclick="emailClick()"> akashsah946@gmail.com </span>
          </h3>
        </div>
        <div class="on-email-click remove-on-email-click" id="on_email_click">
          <a href=""><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="24 / basic / settings">
            <path id="icon" fill-rule="evenodd" clip-rule="evenodd" d="M18.6562 20.897L20.8733 18.6798L20.0925 15.843L20.4327 15.0305L23 13.5818V10.4464L20.44 8.99173L20.1055 8.18067L20.8961 5.34235L18.6774 3.12683L15.8403 3.90748L15.0296 3.56758L13.5808 1H10.4454L8.99072 3.56004L8.17985 3.89446L5.34198 3.10281L3.1267 5.31809L3.90748 8.15567L3.56758 8.96634L1 10.4151V13.5496L3.55774 15.0076L3.89252 15.8193L3.10197 18.6572L5.31809 20.8733L8.15567 20.0925L8.96644 20.4325L10.4153 22.999H13.5498L15.0067 20.4412L15.8183 20.1065L18.6562 20.897ZM18.8527 13.6256L17.9809 15.7078L18.6362 18.0886L18.0678 18.657L15.692 17.9951L13.609 18.8542L12.3873 20.999H11.5829L10.3714 18.8529L8.29155 17.9808L5.90947 18.6362L5.34203 18.0688L6.00385 15.693L5.14482 13.6101L3 12.3876V11.583L5.1471 10.3715L6.0192 8.29155L5.36375 5.90947L5.93001 5.34321L8.30576 6.00595L10.3895 5.14655L11.6093 3H12.4129L13.6245 5.1471L15.7044 6.0192L18.087 5.36362L18.6558 5.93166L17.9941 8.30696L18.8534 10.3906L21 11.6103V12.4139L18.8527 13.6256ZM12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12C16 14.2091 14.2091 16 12 16ZM14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z" fill="black"/>
            </g>
            </svg>
            Settings</a>
          <a href=""><svg width="24" height="24" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6667 23.2917L31.7507 23.2917L26.1253 29.1914L28.5413 31.7252L38.2909 21.5L28.5413 11.2748L26.1253 13.8086L31.7507 19.7083L13.6667 19.7083L13.6667 23.2917ZM6.83332 37.625L22.2083 37.625V34.0417H6.83332L6.83332 8.95833L22.2083 8.95833V5.375L6.83332 5.375C4.94629 5.375 3.41665 6.97931 3.41665 8.95833V34.0417C3.41665 36.0207 4.94629 37.625 6.83332 37.625Z" fill="black"/>
            </svg>
            Logout</a>
        </div>
      </div>
      <div class="main-flex-item-1">
        <div class="flex-item-1-item-0">
          <h1>
            <span class="float-left" onclick="showAndCloseSideBar()"
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / menu-dots">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18 4C18 5.10457 18.8954 6 20 6C21.1046 6 22 5.10457 22 4C22 2.89543 21.1046 2 20 2C18.8954 2 18 2.89543 18 4ZM20 14C18.8954 14 18 13.1046 18 12C18 10.8954 18.8954 10 20 10C21.1046 10 22 10.8954 22 12C22 13.1046 21.1046 14 20 14ZM20 22C18.8954 22 18 21.1046 18 20C18 18.8954 18.8954 18 20 18C21.1046 18 22 18.8954 22 20C22 21.1046 21.1046 22 20 22ZM12 22C10.8954 22 10 21.1046 10 20C10 18.8954 10.8954 18 12 18C13.1046 18 14 18.8954 14 20C14 21.1046 13.1046 22 12 22ZM10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12ZM12 6C10.8954 6 10 5.10457 10 4C10 2.89543 10.8954 2 12 2C13.1046 2 14 2.89543 14 4C14 5.10457 13.1046 6 12 6ZM2 20C2 21.1046 2.89543 22 4 22C5.10457 22 6 21.1046 6 20C6 18.8954 5.10457 18 4 18C2.89543 18 2 18.8954 2 20ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14ZM2 4C2 5.10457 2.89543 6 4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4Z"
                    fill="black"
                  />
                </g>
              </svg> </span
            >DocGPT
            <span class="float-right">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / plus">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13 11H22V13H13V22H11V13H2V11H11V2H13V11Z"
                    fill="black"
                  />
                </g>
              </svg>
            </span>
          </h1>
        </div>
        <div class="flex-item-1-item-1">
          <div class="examples" id="content">
            <div id="icon">
              <svg
                width="48"
                height="48"
                viewBox="0 0 68 68"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / various / brightness-high">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M36.8333 14.3675C35.908 14.2352 34.962 14.1667 34 14.1667C33.038 14.1667 32.092 14.2352 31.1667 14.3675V2.96039C32.0999 2.8763 33.0449 2.83334 34 2.83334C34.9551 2.83334 35.9001 2.8763 36.8333 2.96039V14.3675ZM19.8333 34C19.8333 41.824 26.176 48.1667 34 48.1667C41.824 48.1667 48.1667 41.824 48.1667 34C48.1667 26.176 41.824 19.8333 34 19.8333C26.176 19.8333 19.8333 26.176 19.8333 34ZM42.5 34C42.5 38.6944 38.6944 42.5 34 42.5C29.3056 42.5 25.5 38.6944 25.5 34C25.5 29.3056 29.3056 25.5 34 25.5C38.6944 25.5 42.5 29.3056 42.5 34ZM36.8333 65.0396V53.6325C35.908 53.7648 34.962 53.8333 34 53.8333C33.038 53.8333 32.092 53.7648 31.1667 53.6325V65.0396C32.0999 65.1237 33.0449 65.1667 34 65.1667C34.9551 65.1667 35.9001 65.1237 36.8333 65.0396ZM53.6325 31.1667H65.0396C65.1237 32.0999 65.1667 33.0449 65.1667 34C65.1667 34.9551 65.1237 35.9001 65.0396 36.8333H53.6325C53.7648 35.908 53.8333 34.962 53.8333 34C53.8333 33.038 53.7648 32.092 53.6325 31.1667ZM14.1667 34C14.1667 33.038 14.2351 32.092 14.3675 31.1667H2.96038C2.87629 32.0999 2.83333 33.0449 2.83333 34C2.83333 34.9551 2.87629 35.9001 2.96038 36.8333H14.3675C14.2351 35.908 14.1667 34.962 14.1667 34ZM45.8778 18.1152L53.944 10.0491C55.3976 11.2608 56.7392 12.6024 57.9509 14.056L49.8848 22.1222C48.7471 20.6032 47.3968 19.2529 45.8778 18.1152ZM10.0491 14.056L18.1152 22.1222C19.2529 20.6032 20.6032 19.2529 22.1222 18.1152L14.056 10.0491C12.6024 11.2608 11.2608 12.6024 10.0491 14.056ZM49.8848 45.8778L57.9509 53.944C56.7392 55.3976 55.3976 56.7392 53.944 57.9509L45.8778 49.8848C47.3968 48.7471 48.7471 47.3968 49.8848 45.8778ZM14.056 57.9509L22.1222 49.8848C20.6032 48.7471 19.2529 47.3968 18.1152 45.8778L10.0491 53.944C11.2608 55.3976 12.6024 56.7392 14.056 57.9509Z"
                    fill="black"
                  />
                </g>
              </svg>
              <h3>Examples</h3>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
            <div id="info">
              <h4>
                “Could explain me the most important part of the medical report”
              </h4>
            </div>
            <div id="info">
              <h4>
                “Analyze my financial report and explain to me like I am five”
              </h4>
            </div>
          </div>
          <div class="capabilities" id="content">
            <div id="icon">
              <svg
                width="48"
                height="48"
                viewBox="0 0 68 68"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / lightning">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.1049 42.5H25.5V64.7439L56.8951 25.5H42.5V3.25612L11.1049 42.5ZM31.1667 36.8333H22.8951L36.8333 19.4105V31.1667H45.1049L31.1667 48.5895V36.8333Z"
                    fill="black"
                  />
                </g>
              </svg>
              <h3>Capabilities</h3>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
          </div>
          <div class="limitations" id="content">
            <div id="icon">
              <svg
                width="48"
                height="48"
                viewBox="0 0 68 68"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / notifications / alert-triangle">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M63.5844 45.2007L43.7359 11.2699C41.7433 7.81546 38.0292 5.67137 34.0126 5.66667C29.9956 5.66197 26.2803 7.79721 24.2628 11.2701L4.40703 45.2132C2.34812 48.6752 2.30154 53.0132 4.29582 56.5511C6.29176 60.0919 10.029 62.2954 14.0941 62.3285L53.8681 62.3286C57.9754 62.2887 61.7056 60.0919 63.7012 56.5543C65.6945 53.0208 65.6499 48.6924 63.5844 45.2007ZM9.28789 48.0921L29.1584 14.1239C30.1647 12.3917 32.0103 11.331 34.006 11.3333C36.0015 11.3357 37.8464 12.4007 38.836 14.1163L58.7001 48.0739C59.7414 49.834 59.7637 52.001 58.7657 53.7701C57.7663 55.5417 55.8979 56.642 53.8404 56.6621L14.1172 56.6619C12.1038 56.6454 10.2318 55.5417 9.23223 53.7684C8.23376 51.9971 8.25708 49.8254 9.28789 48.0921ZM34.0009 50.9953C35.5663 50.9953 36.8352 49.7268 36.8352 48.162C36.8352 46.5972 35.5663 45.3286 34.0009 45.3286C32.4356 45.3286 31.1667 46.5972 31.1667 48.162C31.1667 49.7268 32.4356 50.9953 34.0009 50.9953ZM36.8436 22.662H31.175V42.4953H36.8436V22.662Z"
                    fill="black"
                  />
                </g>
              </svg>
              <h3>Limitations</h3>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
            <div id="info">
              <h4>“Highlight the most crucial clauses in the documents”</h4>
            </div>
          </div>
        </div>
        <div class="flex-item-1-item-2">
          <div>
            <form id="form_data" action="/doc/upload" method="post" enctype="multipart/form-data">
              <input name="userdocument" id="input_file" type="file" style="display: none;">
              
            </form>
            <button type="submit" class="btn-0" id="open_file_button">
              <svg width="42" height="42" viewBox="0 0 69 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="69" height="62" rx="21" fill="#D9D9D9"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.9167 20.5833C56.9167 18.2821 55.0512 16.4167 52.75 16.4167H34.0037C34.0873 16.4162 34.0608 16.3839 33.8776 16.1611L33.8775 16.1611L33.8771 16.1606C33.8322 16.1059 33.7779 16.0399 33.7135 15.96C33.6496 15.8809 33.4709 15.6506 33.3137 15.448C33.2023 15.3044 33.1017 15.1747 33.0604 15.1226C31.5686 13.2405 30.0833 12.25 27.75 12.25H15.25C12.9488 12.25 11.0833 14.1155 11.0833 16.4167V45.5833C11.0833 47.8845 12.9488 49.75 15.25 49.75H38.1667V45.5833H15.25V28.9167H52.75V37.25H56.9167V20.5833ZM52.75 24.75V20.5833L33.9888 20.5833C32.4927 20.5753 31.5181 19.8748 30.4705 18.5761C30.3756 18.4585 30.1449 18.1611 29.9774 17.9453L29.9774 17.9452L29.977 17.9447C29.8896 17.832 29.8195 17.7416 29.795 17.7107C29.0146 16.7262 28.5505 16.4167 27.75 16.4167H15.25V24.75H52.75ZM44.4167 49.75V45.5833H48.5833V41.4167H52.75V45.5833H56.9167V49.75H52.75V53.9167H48.5833V49.75H44.4167Z" fill="black"/>
                </svg>
                
            </button>
          </div>
          <div class="text-and-button-container">
            <textarea name="" id="indexTextarea" cols="80" rows="1" placeholder="">
            </textarea>
            <sup><button type="submit" class="btn-1">
              <svg
                width="30"
                height="30"
                viewBox="0 0 38 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.643 17.7144L-6.28399e-06 0L6.64288 17.7144L-6.28399e-06 35.4287L37.643 17.7144ZM6.59365 28L10.4508 17.7144L6.59365 7.42873L28.4506 17.7144L6.59365 28Z"
                  fill="black"
                />
              </svg>
            </button></sup>
          </div>
          
            
          
        </div>
      </div>
    </div>

  </body>
</html>
