/* Using San Fransisco Font */
@font-face {
    font-family: apple-font-heavy;
    src: url(../assets/fonts/SanFrancisco/pro/SF-Pro-Display-Heavy.otf);
  }
  
  @font-face {
    font-family: apple-font-medium;
    src: url(../assets/fonts/SanFrancisco/SFUIText/SFUIText-Medium.otf);
  }
  
  @font-face {
    font-family: apple-font-light;
    src: url(./assests/fonts/SanFrancisco/SFUIText/SFUIText-Light.otf);
  }
  
  /* Defining global variables */
  :root {
    --background-color: #f5f5f5;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container{
    width: 20vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
.container h1{
  font-family: apple-font-heavy;
  padding: 2rem;
  font-size: 2.5rem;
}
.container h4 {
  font-family: apple-font-light;
  font-size: 1rem;
  padding: 1.3rem;
}
.container form li{
  list-style-type: none;
} 
.container form{
  padding: 1.3rem;
  font-family:apple-font-light;
  font-weight: bold;
}
.conatiner label {
  margin-bottom: 1rem;
  text-align: left;
}
.container input{
  width: 80vw;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.container button {
  width: 80vw;
  height: 45px;
  color: white;
  border-radius: 5px;
  
  font-family: apple-font-medium;
  background-color: black;
}
.container h3{
  font-family: apple-font-light;
}

@media (min-width:768px){
    .container input{
        width: 20vw;
        height: 45px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 1rem;
      }
      .container button {
        width: 20vw;
        height: 45px;
        color: white;
        border-radius: 5px;
        
        font-family: apple-font-light;
        background-color: black;
      }
}