<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | DocGPT</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <div class="flex-item-1">
            <div>
                <h1>DocGPT</h1>
                <h4>Join DocGPT and initiate conversation with your documents</h4>
                <form method="post" action="">
                  <li>
                    <label for="">Username</label>
                  </li>
                  <li>
                    <input name="username" type="text" />
                  </li>
                  
                  <li>
                    <label for="">Email</label>
                  </li>
                  <li>
                    <input name="email" type="email" />
                  </li>
                  <li>
                    <label for="">Password</label>
                  </li>
                  <li>
                    <input name="password" type="password" />
                  </li>
                  <button>Create your account</button>
                </form>
                <div>
                  <h4>Already have one? <a href="/auth/signin">Sign In</a></h4>
                </div>
                <div>
                  <h3>By continuing you agree to our <a href="">Terms</a> and <a href="">Privacy Policy</a></h3>
                </div>
              </div>
            </div>
        </div>
        <div class="flex-item-2">
                        
        </div>
    </div>
</body>
</html>